In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [3]:
dataset = pd.read_csv('hiring.csv')
dataset

   experience  test_score  interview_score  salary
0           1           2                5      13
1           2           3                5      15
2           3           4                4      15
3           4           5                3      15
4           5           4                2      13
5           6           3                6      21
6           7           1                6      20

In [4]:
X = dataset.iloc[:, :3]
X

   experience  test_score  interview_score
0           1           2                5
1           2           3                5
2           3           4                4
3           4           5                3
4           5           4                2
5           6           3                6
6           7           1                6

In [5]:
y = dataset.iloc[:, -1]
y

0    13
1    15
2    15
3    15
4    13
5    21
6    20
Name: salary, dtype: int64

In [6]:
#Splitting Training and Test Set
#Since we have a very small dataset, we will train our model with all availabe data.

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [7]:
#Fitting model with trainig data
regressor.fit(X, y)

LinearRegression()

In [8]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [9]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[23.]